.content {
    text-align: center;
    max-width: 800px;
}

.content a {
    background-color: none;
    color: var(--color-primary);
    padding: 10px;
    border: 2px solid var(--color-primary);
    border-radius: 2px;
    margin: 10px;
    font-weight: bold;
}

ul {
    list-style: none;
}

.content a:hover {
    background-color: var(--color-primary);
    color: white;
    border: none;
    transition: 0.3s ease-in-out;
    border: 2px solid var(--color-primary);
}


@media (max-width: 500px) {
    .contact-links {
        display: flex;        
        flex-direction: column;
    }

}