
.form-control {
    margin: 10px auto;
    padding: 10px;
    width: 95%;
    min-width: 300px;
}

input {
    padding: none;
}

textarea {
    height: 60px;
}

.submit-button {
    padding: 10px;
    width: 100%;
    border: 2px solid var(--background);
    border-radius: 2px;
    background-color: transparent;
    color: var(--background);
    font-weight: bold;
}

.submit-button:hover {
    padding: 10px;
    border: 2px solid var(--color-primary);    
    color: var(--color-primary);
    transition: all 0.3s ease-in-out;
}