.homepage-h1 {
    font-size: 80px;
    margin: 8%;
  }
  
  @media (min-width: 900px) {
    .homepage-h1 {
      font-size: 100px;
      margin: 4%;
    }
  }
  
  @media (min-width: 1200px) {
    .homepage-h1 {
      font-size: 120px;
      margin: 4%;
    }
  }